# Framework
Django==5.2.6

# Database
mysqlclient==2.2.7

# Environment Variables
python-dotenv==1.1.1

# NLP for Chatbot
spacy==3.8.7
# spaCy Spanish Model (Medium)
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.8.0/es_core_news_md-3.8.0-py3-none-any.whl#sha256=478b8bb3f3e8eb149192f7d80e7cd64f990b7e9bccbc5329df41a57e86326be2

# Django Dependencies
asgiref==3.9.2
sqlparse==0.5.3
tzdata==2025.2